<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="/">
                        <i class="fa fa-gem"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="chamados">
                        <i class="fa fa-bullhorn"></i>
                        <span>Chamados </span>
                    </a>
                </li>
                <li>
                    <a href="fontawesome.html">
                        <i class="fa fa-user"></i>
                        <span>Clientes </span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-envelope"></i>
                        <span>Mensagens </span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-glass"></i>
                        <span>Minha conta</span>
                    </a>
                    <ul class="sub">
                        <li><a href="gallery.html">Alterar conta</a></li>
						<li><a href="404.html">Logout</a></li>
                    </ul>
                </li>
            </ul>            </div>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->